<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
</head>

<body>
    <h1>Welcome to Rock Paper Scissors Game!</h1>
    <p>Enter your details below:</p>
    <form action="/game" method="post">
        <p>Player 1: <input id="player1-name-textbox" type="text" name="player1" placeholder="Enter name to start"></p>

        <input id="names-submit" type="submit" value="Play!">
    </form>
</body>

</html>